body{
    margin:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.koii{
    width:150px;
}
.card{
    padding: 20px;
    display: flex;
    justify-content: space-around ;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #CDB4DB;
    
    color:#343A40 ;
    border-bottom:8px solid #FFAFCC;
    border-radius: 10px;
    
    
   
}

.border-blue{
   border :2px dotted blue;

}
